.clients {
  padding: 60px;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    flex-wrap: wrap;
    grid-gap: 30px;
  }

  &__list .clients__icon {
    fill: #afb1b8;
    transition: fill $transform;

    & {
      width: 100%;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid $mainLinkColor;
    border-radius: 4px;
    transition: border-color $transform;

    &:hover,
    &:focus {
      border-color: $mainActiveColor;
    }
  }

  &__link:hover .clients__icon,
  &__link:focus .clients__icon {
    fill: $mainActiveColor;
  }

  &__item {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .clients__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;

    &__list {
      grid-template-columns: repeat(6, 1fr);
    }

    &__list .clients__icon {
      transition: fill 1s cubic-bezier(0.4, 0, 0.2, 1),
        transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link {
      transition: border-color 1s cubic-bezier(0.4, 0, 0.2, 1),
        transform 1s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        border-color: $mainActiveColor;
        transform: scale(1.2);
      }
    }
  }
}
