.footer-sidebar {
  width: 100%;

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    outline: none;
    background-color: $backgroundColor;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.25;
    font-size: 16px;
    letter-spacing: 0.03em;
    transition: border-color $transform;

    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }

    &:not(:placeholder-shown) {
      border-color: $mainActiveColor;
    }

    &:hover,
    &:focus {
      border-color: $mainActiveColor;
    }
  }

  &__label {
    padding-bottom: 10px;
    width: 100%;
  }

  &__button {
    padding: 10px 28px;
    display: flex;
    align-items: center;
    gap: 30px;
    background: $mainActiveColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
  }

  &__title {
    text-align: center;
    color: $secondaryWhiteColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  }

  &__icon {
    fill: $secondaryWhiteColor;
  }
}

@media screen and (min-width: 768px) {
  .footer-sidebar {
    &__label {
      display: block;
      max-width: 450px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer-sidebar {
    margin-left: 78px;
    width: auto;

    &__label {
      padding-bottom: 0;
    }
    &__group {
      flex-direction: row;
      gap: 12px;
    }
    &__input {
      width: 358px;
    }
  }
}
