.footer-tabs {
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondaryWhiteColor;
    padding-top: 60px;
    padding-bottom: 20px;
  }

  &__link {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
}

@media screen and (min-width: 768px) {
  .footer-tabs {
    display: flex;

    &__title {
      padding-top: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer-tabs {
    padding-left: 70px;

    &__title {
      display: block;
      padding-top: 10px;
    }

    &__link {
      transition: transform 1s ease-in-out;

      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }
}
