.intro {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  &__title {
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    color: $secondaryWhiteColor;
    text-transform: uppercase;
    text-align: center;
  }

  &__button {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: $mainActiveColor;
    color: $secondaryWhiteColor;
    cursor: pointer;
    font-family: $mainFont;
    padding: 10px 41px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }
}

@media screen and (min-width: 320px) {
  .intro {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(./../images/headers/header_bg_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .intro {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(./../images/headers/header_bg_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .intro {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(./../images/headers/header_bg_tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .intro {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(./../images/headers/header_bg_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .intro {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(./../images/headers/header_bg_desktop.jpg);

    &__title {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .intro {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(./../images/headers/header_bg_desktop@2x.jpg);
  }
}
