.logo {
  font-family: $secondaryFont;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color $transform;

  &:hover,
  &:focus {
    color: $mainActiveColor;
  }

  &--dark {
    color: inherit;
  }

  &--light {
    color: $secondaryWhiteColor;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  &__title {
    color: $mainActiveColor;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    &--dark {
      margin-right: 93px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
