.modal-checkbox {
  display: flex;
  align-items: flex-start;

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03;
    color: $mainLinkColor;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: solid 2px $mainBlackColor;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    transform: translateY(4px);
    transition: background-color $transform, border-color $transform;
  }
}

.modal-form__input:checked + .modal-checkbox__box {
  background-color: $mainActiveColor;
  border-color: $mainActiveColor;
}
