.nav {
display: none;
}

@media screen and (min-width: 768px) {
  
.nav {
  display: flex;
  gap: 46px;
  justify-content: flex-start;
  flex-grow: 1;
  list-style-type: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.03em;
  align-items: center;

  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
    transition: color $transform;

    &:hover,
    &:focus {
      color: $mainActiveColor;
    }

    &--active::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: $mainActiveColor;
      border-radius: 2px;
      transform: translateY(26px);
    }
  }

  &__link--active {
    color: $mainActiveColor;
  }
}
}

@media screen and (min-width: 1200px) {
  .nav {
    &__link {
      &--active::after {
        transform: translateY(26px);
      }
    }
  }
}